/* Put your CSS here */
html, body {
    margin: 20px;
    background: black;

    font: 12px "Helvetica", sans-serif;
    color: white;
}

.ember-application {
    margin: 20px;
}

#game_wrapper{
    margin: 20px auto;
	background: #000;
}

#game {
    margin: 20px auto;
    z-index: 0;
    padding-right: 40px;
    width: 900px;
	/*-webkit-transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);
	-moz-transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);
	-ms-transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);
	-o-transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);
	transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);*/
}

/*  Hexagon Formatter 

    Set width on outer and background-color on inner

    Outer box is a square of side T
    W and H are for inner
    T = 1.1547W
    W = 0.57735H
*/
.hex {
    text-align: center;
    display: inline-block;
}
.hex div {
    box-sizing: border-box;
    position: relative;
    margin: calc(100% * (1 - 0.866 * 0.57735) / 2) calc(100% * (1 - 0.866) / 2);
    width: calc(100% *  0.866);
    padding-top: calc(100% *  0.866 * 0.57735);
    display: inline-block;
}
.hex div:before,
.hex div:after {
    box-sizing: border-box;
    transform-origin: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: inherit;
    content: '';
}
.hex div:after { transform: rotateZ(60deg); }
.hex div:before { transform: rotateZ(-60deg); }

.hex_c div { 
    margin-top: 0;
    margin-bottom: 0;
}
.hex_i div {
    margin-top: calc(100% * (1 - 0.866 * 0.57735) / 4);
    margin-bottom: calc(100% * (1 - 0.866 * 0.57735) / 4);
}

/* Cell Colors */
.empty { background-color: #333333; }
.dead { background-color: orange; }
.hostile { background-color: #FA3296; }
.friendly { background-color: #39C8FF; }

.cell_row {
    text-align: center;
}
.cell {
    width: 8%;
    margin-top: 0;
}

/* Nav bar */
.nav_bar {
    border-radius: 5px;
    background: white;
    padding: 15px;
    vertical-align: baseline;
    z-index: 1;
    position: relative;
    color: black;
    font-size: 0px;
    margin-bottom: 20px;
}
.nav_bar span { 
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
}
.nav_bar span:after {
    content: "|";
    margin: 0 15px;
}
.nav_bar span:last-of-type:after {
    content: "";
    margin: 0;
}
.nav_bar span:first-of-type:before { 
    content: "";
    margin-left: 15px;
}