/* Put your CSS here */
html, body {
    margin: 20px;
    background: black;

    font: 12px "Helvetica", sans-serif;
    color: white;
}

.ember-application {
    margin: 20px;
}

#game_wrapper{
	display: table;
    margin: 20px auto;
	background: #000;
}

#game {
    display: table;
    margin: 20px auto;
    z-index: 0;
	/*-webkit-transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);
	-moz-transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);
	-ms-transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);
	-o-transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);
	transform: perspective(1600px) rotateX(10deg) rotateY(-10deg);*/
}

/* Hexagon Formatter */
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    float: left;
    margin-top: 37px;
    margin-left: 8px;
    width: 104px;
    height: 60px;
    background-color: #6C6;
    position: relative;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}


.hex:nth-child(11n+12){
    clear: left;
}
.hex:nth-child(22n+12){
    margin-left: 64px;
}

.hex.mine:after{
	border-top: 30px solid #4accff;
}
.hex.mine{
	background: #4accff;
}
.hex.mine:before {
	border-bottom: 30px solid #4accff;
}

.hex.yours:after{
	border-top: 30px solid #ff2897;
}
.hex.yours{
	background: #ff2897;
}
.hex.yours:before {
	border-bottom: 30px solid #ff2897;
}
.hex.empty:after{
	border-top: 30px solid #333333;
}
.hex.empty{
	background: #333333;
}
.hex.empty:before {
	border-bottom: 30px solid #333333;
}
.hex.dead:after{
	border-top: 30px solid #ffcc33;
}
.hex.dead{
	background: #ffcc33;
}
.hex.dead:before {
	border-bottom: 30px solid #ffcc33;
}
.hex.unknown:after{
	border-top: 30px solid #000000;
}
.hex.unknown{
	background: #000000;
}
.hex.unknown:before {
	border-bottom: 30px solid #000000;
}
.hex.null{
    visibility: hidden;
}


/*Nav bar*/
.nav_bar {
    border-radius: 5px;
    background: white;
    padding: 15px;
    vertical-align: baseline;
    z-index: 1;
    position: relative;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}
.nav_bar span {
    border-right: solid 2px black;
    padding-right: 15px;
    margin-right: 15px;
    display: inline-block;
}
.nav_bar span:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

.visual_hex {
    text-align: center;
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}
.visual_hex div {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
}
.visual_hex div:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}
.visual_hex div:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}