/* Put your CSS here */
html, body {
    margin: 20px;
    background: black;

    font: 12px "Helvetica", sans-serif;
    color: white;
}

.ember-application {
    margin: 20px;
}

#game_wrapper{
    margin: 20px auto;
	background: #000;
	border-spacing: 20px;
	border-collapse: separate;
}

#game {
    z-index: 0;
    width: 900px;
    min-width: 300px;

    margin: 20px auto;
    padding-right: 40px;

    font-size: 0px;
}

/*  Hexagon Formatter 

    Set width on outer and background-color on inner

    Outer box is a square of side T
    W and H are for inner
    T = 1.1547W
    W = 0.57735H
*/
.hex {
    text-align: center;
    display: inline-block;
}
.hex > div {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: calc(50% * 0.57735) 0;
    padding-top: calc(100% * 0.57735);
    display: inline-block;
}
.hex > div:before,
.hex > div:after {
    box-sizing: border-box;
    transform-origin: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: inherit;
    content: '';
}
.hex > div:after { transform: rotateZ(60deg); }
.hex > div::before { transform: rotateZ(-60deg); }

.hex_collapse > div { 
    margin-top: 0;
    margin-bottom: 0;
}
.hex_inter > div {
    margin-top: calc(25% * 0.57735);
    margin-bottom: calc(25% * 0.57735);
}

/* Cell Colors */
.empty { background-color: #333333; }
.dead { background-color: orange; }
.hostile { background-color: #FA3296; }
.friendly { background-color: #39C8FF; }

.cell_row {
    text-align: center;
    margin-bottom: 5px;
}
.cell {
    margin-right: 5px;
}

/* Nav bar */
.nav_bar {
    border-radius: 5px;
    background: white;
    padding: 15px;
    vertical-align: baseline;
    z-index: 1;
    position: relative;
    color: black;
    font-size: 0px;
    margin-bottom: 35px;
}
.nav_bar > span { 
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    transition: hover 0.2s ease;
}
.nav_bar > span:hover { color: #888888; }
.nav_bar > span:after {
    color: black;
    content: "|";
    margin: 0 15px;
}
.nav_bar > span:last-of-type:after {
    content: "";
    margin: 0;
}
.nav_bar > span:first-of-type:before { 
    content: "";
    margin-left: 15px;
}

/* Score Bar*/
#score {
	height: 100%;
	background: orange;
    font-size: 0px;
	border-radius: 5px;
}
#score > div {
    width: 100%;
    display: inline-block;
}

#controls {
	padding: 10px;
	border-radius: 5px;
	color: black;
	background: white;
	display: inline-block;
}
#controls div {
    text-align: center;
}


/* Buttons */
.stop, .pause, .play { transition: hover 0.2s ease; }
.stop, .pause {
    height: 20px;
    width: 20px;
    background: black;
}
.play { 
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid black;
}
.play:hover { border-left-color: #888888; }
.stop:hover, .pause:hover { background: #888888; }
.pause:before { 
    width: calc(100% / 3);
    height: 100%;
    background: white;
    margin: 0 calc(100% / 3);
    content: "";
    display: block;
}


/* Editor Route */
#editor_table {
	width: 100%;
	height: 500px;
}
#editor {
  height: 100%;
  width: 100%;
}

#info_pane {
	min-width: 300px;
	vertical-align: top;
	padding: 0 10px 0 0;
}
#info_pane div {
	margin-bottom: 10px;
	border-radius: 5px;
	background: #333333;
	padding: 20px;
}
#info_pane > div.hoverable { transition: hover 0.2s ease; }
#info_pane > div.hoverable:hover { color: #888888; }
#info_pane > div:last-of-type {
	margin-bottom: 0;
}
#info_pane img {
	margin: 0 auto;
	height: 250px;
}

/* Logo H */
#H {
    position: absolute;
    top: calc(50% + 1px);
    z-index: 3;

    width: 100%;
    font-size: 100px;
    line-height: 0;
}